*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: Georgia, serif;
}

p {
    font-family: Helvetica, sans-serif;
}

.container-article {
    display: flex;
}

.btn-section {
    width: 50%;
    height: 200px;
    display: flex;
}

.btn-section div {
    background-color: rgb(3, 168, 124);
    align-self: end;
    margin-left: 200px;
    width: 200px;
    height: 50px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
}

.text-section {
    width: 50%;
    height: 200px;
}

.text-section p {
    width: 80%;
}

span {
    background-color: rgb(206, 253, 233);
}

.main-wrapper {
    width: 80%;
    margin: 5% 10%;
}

main {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
}

.header-article {
    margin-left: 200px;
}

p {
    color: rgb(126, 124, 122);
}

.btn-paragraph {
    color: white;
}

.under-line {
    border-bottom: 2px solid rgb(126, 124, 122);
    width: 30%;
    margin-top: 2em;
}
